   .img{
    margin-left: 500px;
   }
.container{
    text-align: center;
    background-color: rgb(238, 238, 238);
   height: 65px;
   width: 1200px;
    margin-left: 100px; 
}

.input{
width: 300px;
}
.content{
    margin-left: 100px;
    ul{
        list-style-type: none;
        float: left;
        text-align: center; 
        margin-right: 2px;
    }
}

.card-1{
   
    ul{
          width: 400px; 
          height: 80px;
        background-color: rgb(126, 229, 218);
        font-size: 14px;
    }
}

.card-2{
    ul{
         width: 225px; 
         height: 80px;
        background-color: rgb(112, 204, 194);
        padding-left: 1px ;
        font-size: 13px;
       
    }
}

.card-3{
    ul{
        width: 490px; 
          height: 80px;
        background-color: rgb(98, 179, 170);
        font-size: 13px;
    }
  
}
.footer{
    font-size: 13px;
     padding-left: 500px; 
} 















